.is-primary {
  color: #1EC9AC;
}

a.is-primary:hover {
  color: #09dcb8;
  text-decoration: underline;
}

.color-background {
  background: #edf3f2 !important;
  padding: 30px;
}

.table td, .table th {
  vertical-align: middle !important;
}

.has-background-none {
  background-color: transparent !important;
}
